body {
  position: relative;
  font-family: Helvetica, sans-serif;
}


/* untuk header */
.main-nav,
.hero {
  background-color: #F1F3FF !important;
}

.main-nav .navbar-nav a.nav-link {
  color: #000000 !important;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.navbar .btn-register {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 81px;
  height: 36px;
  left: 359px;
  top: 0px;
  padding: 8px 12px 8px 12px;
  background: #5CB85F !important;
  color: #FFF;
  border-radius: 2px;
  margin: 0px 32px 0px 32px;
}

/*Bagian Sewa & Rental Mobil Terbaik */

.hero {
  position: relative;
  min-height: 430px;
}

.hero h1 {
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.hero h6 {
  width: 468px;
  height: 60px;
  left: 136px;
  top: 301px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.hero-img img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Search */
.form-search {
  position: relative;
  margin-bottom: 108px;
}

.form-search .box {
  max-width: 1047px;
  min-height: 106px;
  border-radius: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-top: -50px;
}

.form-search .box .row-input {
  padding: 24px 0 24px 24px;
}

.form-search .box .row-input .btn-cari {
  background-color: #5CB85F !important;
  color: white !important;
  padding: 6px 12px !important;
}

.form-search .box .row-input .btn-cari:hover {
  background-color: #7ed681 !important;
}

.form-search .box .row-input .input-group {
  margin-top: 4px;
  min-width: 170px;
  min-height: 36px;
}

/* Search */
.page-search {
  position: relative;
  margin-bottom: 108px;
}

.page-search .head {
  background-color: #F1F3FF;
  min-height: 150px;
}

.page-search .box {
  max-width: 1047px;
  min-height: 106px;
  border-radius: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-top: -70px;
}

.page-search .box p {
  margin: 24px 0 -10px 24px;
}

.page-search .box .row-input {
  padding: 24px 0 24px 24px;
}

.page-search .box .row-input .btn-edit {
  background-color: #FFF !important;
  color: #000 !important;
  padding: 6px 12px !important;
  border: 1px solid #0D28A6 !important;
}

.page-search .box .row-input .btn-edit:hover {
  background-color: #2341c9 !important;
  color: #FFF !important;
}

.page-search .box .row-input .input-group {
  margin-top: 4px;
  min-width: 170px;
  min-height: 36px;
}

.page-search .card-mobil {
  min-width: 1047px;
}

.page-search .card-mobil .card {
  width: 333px;
  height: 586px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-search .card-mobil .card .card-body h5.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.page-search .card-mobil .card .card-body h6 {
  margin-bottom: 1rem;
}

.page-search .card-mobil .card .card-body .btn-group button img {
  padding: 0 7px;
}

.page-search .card-mobil .card .card-body p.card-text img {
  padding-right: 9.5px;
}

.page-search .card-mobil .card .btn-pilih {
  width: 285px;
  height: 48px;
  background-color: #5cb85f;
  color: white;
  font-weight: 700;
  padding: 8px 12px;
}

.page-search .card-mobil .card .btn-pilih:hover {
  background-color: #9adf9c;
  color: white;
}

.detail-page {
  position: relative;
  margin-bottom: 108px;
}

.detail-page .head {
  background-color: #F1F3FF;
  min-height: 150px;
}

.detail-page .box {
  max-width: 1047px;
  min-height: 106px;
  border-radius: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-top: -70px;
}

.detail-page .box p {
  margin: 24px 0 -10px 24px;
}

.detail-page .box .row-input {
  padding: 24px 0 24px 24px;
}

.detail-page .box .row-input .btn-edit {
  background-color: #FFF !important;
  color: #000 !important;
  padding: 6px 12px !important;
  border: 1px solid #0D28A6 !important;
}

.detail-page .box .row-input .btn-edit:hover {
  background-color: #2341c9 !important;
  color: #FFF !important;
}

.detail-page .box .row-input .input-group {
  margin-top: 4px;
  min-width: 230px;
  min-height: 36px;
}

.detail-page .detail-section {
  min-width: 1047px;
}

.detail-page .detail-section .card-detail {
  min-width: 605px;
  border-radius: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.detail-page .detail-section .card-detail .card-title p {
  margin: 24px 0 0 24px;
}

.detail-page .detail-section .card-detail .card-body p {
  margin: 0 0 0 10px;
}

.detail-page .detail-section .card-detail .card-body ul li {
  color: #8A8A8A;
}

.detail-page .detail-section .card-detail-mobil {
  min-width: 405px;
  border-radius: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-left: 32px;
}

.detail-page .detail-section .card-detail-mobil .card-body {
  padding: 24px;
}

.detail-page .detail-section .card-detail-mobil .card-body .icon {
  margin-bottom: 56px;
}

.detail-page .detail-section .card-detail-mobil .card-body .icon p {
  margin-right: 15px;
}

.detail-page .detail-section .card-detail-mobil .card-body span {
  margin-left: 230px;
}

.detail-page .detail-section .card-detail-mobil .card-body .btn-lanjut {
  width: 358px;
  height: 48px;
  background-color: #5cb85f;
  color: white;
  font-weight: 700;
  padding: 8px 12px;
}

.detail-page .detail-section .card-detail-mobil .card-body .btn-lanjut:hover {
  background-color: #9adf9c;
  color: white;
}